.primary-button {
    background: #050505;
    color: #fcf9f9;
    padding: 16px;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .primary-button:hover {
    background: #161515;
  }
  
