#hero-banner{
    display:flex ;
    align-items: center;
    padding: 72px 20px;
    gap: 32px;
}

.hero-content h1{
    font-size: 96px;
    color: #050505;
}

.hero-content p{
    font-size: 24px;
    color: #050505;
    padding: 16px 0;
    line-height: 1.5;
}

.btn-container{
    display: inline-block;
    margin-top: 16px;
    border-radius: 80px;
    background: #050505;
    color: #fcf6f6;
    padding: 2px 56px;
    cursor: pointer;
    font-size: 24px;
}

.btn:hover{
    background: var(--#181818);
}

.hero-image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 768px){
    #hero-banner{
        flex-direction: column-reverse;
    }
}

.btn-container{
    flex-direction: column;
}