#header{
  background: #fffbfb;
}

.logo{
    font-size: 50px;
    color: #050505;
    font-weight: bolder;
}

.logo span{
    color:var(--#050505) ;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    padding: 32px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  

.nav-links{
    display: flex;
    gap: 24px;
}

.nav-links a{
    font-size: 32px;
    padding:0 24px;
    color: #050505;
}

.nav-links a:hover{
    color:var(--#181818);
}

.nav-links li{
    list-style: none;
}

.icons a{
    font-size: 32px;
    color: #050505;
    margin-left: 24px;
}

.icons a:hover{
    color: var(--#181818);
}

.menu-toggle{
   display: none; 
}

.menu-btn{
    font-size: 48px;
    color: #050505;
    border-radius:8px;
    padding:8px 24px;
    cursor: pointer;
    border: 16px solid rgba(0, 0, 0, 0.3) ;
    display: none;
}

  /*media queries */
@media (max-width: 991px){

   
   html{
        font-size: 55%;
   }

   header{
    padding: 32px;
   }

}

@media only screen and (max-width: 768px){

.menu-btn{
    display: flex;
}

.nav-links{
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    background: #e7e0e0;
    display: none;
    border-top:16px solid rgb(3, 2, 2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-toggle:checked~.nav-links{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.nav-links a{
    margin: 24px;
    padding: 24px;
    background: #fffefe;
    border:16px solid rgb(3, 2, 2);
    display: block;
}

}

@media (max-width: 450px){
 
    html{
        font-size: 50%;
    }
}
  
  
    